#site-container {
  border: 1px solid black;
  background-color: rgba($color: #ffffff, $alpha: 0.95);
  border-radius: 10px;
}

#main-content {
  padding: 20px;
}

#sidenav {
  display: flex;
  flex-direction: column;
}

#application-title {
  margin-left: 15px;
}

.nav-link {
  min-width: 350px;
  margin: 5px;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-drawer {
  background-color: rgba($color: #616161, $alpha: 0.8);
}

#container {
  top: 64px !important;
}

@media (max-width: 599px) {
  #container {
    top: 56px !important;
  }
}

#footer {
  margin-left: 10px;
}
